@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper-transition {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

.swiper-small {
  .swiper-slide {
    opacity: 1 !important;
    filter: brightness(1) !important;
    margin-top: 0 !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

#globalnav {
  background-color: #fafafc;
}

#globalnav-ul > li {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.headline {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.squares-section {
  display: flex;
  gap: 12px;

  width: 100%;
  height: 80vh;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-inline: 12px;
}

.swiper-slide {
  width: fit-content;
}

.swiper-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.swiper-overlay-active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.flyout-open {
  position: fixed;
  z-index: 1500000000;
  transform-origin: left top;
  background-color: #fafafc;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 44px;
}

.flyout-content {
  padding: 40px 22px 84px 22px;
  cursor: default;
}

.nav-list {
  margin: 0;
  list-style: none;
}

.submenu-header {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: rgb(110, 110, 115);
  display: block;
}

.nav-list-item {
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-inline-start: -11px;
  margin-inline-end: -11px;
}

.nav-list-item-smaller {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-inline-start: -11px;
  margin-inline-end: -11px;
}

.nav-submenu-link {
  display: inline-block;
  padding: 7px 11px;
  margin-bottom: -6px;
  color: #333336;
  text-decoration: none;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.globalnav-curtain-hidden {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 44px;
  height: 100%;
  z-index: 9998;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1),
    visibility 0s linear 0.32s;
}

.globalnav-curtain {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  opacity: 1;
  visibility: visible;
  position: fixed;
  margin-top: 44px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1),
    visibility 0s linear 0s;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-slide {
  opacity: 0.5 !important;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) !important;
  transition: filter 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  cursor: pointer !important;
  filter: brightness(0.5) !important;
}

.swiper-slide-active {
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) !important;
  transition: filter 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  cursor: default !important;
  filter: brightness(1) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.42);
  width: 8px !important;
  height: 8px !important;
}

.swiper-scrollbar {
  visibility: hidden;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}

.button:hover,
.button:focus {
  background: #0077ed;
  color: #fff;
  border-color: transparent;
}

.button:active {
  background: #006edb;
  color: #fff;
  border-color: transparent;
}

.button-elevated {
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
}

.button-primary-light {
  background: #f5f5f7 !important;
  color: #000 !important;
}

.button-primary-light:hover {
  background: #fff !important;
}

.button-tertiary-light {
  border-color: #f5f5f7 !important;
  background: transparent !important;
  color: #f5f5f7 !important;
}

.button-tertiary-light:hover {
  background: #fff !important;
  color: #000 !important;
}

.theme-dark .button-tertiary {
  background: rgba(0, 0, 0, 0);
  color: #2997ff;
  border-color: #2997ff;
}

.theme-dark .button-tertiary:hover {
  background: #0077ed;
  color: #fff;
  border-color: transparent;
}

.theme-dark .button-neutral {
  background: #f5f5f7;
  color: #000;
  border-color: rgba(0, 0, 0, 0);
}

.theme-dark .button-neutral:active {
  background: #ededf2;
  color: #000;
  border-color: transparent;
}

.theme-dark .button-neutral:hover,
.theme-dark .button-neutral:focus {
  background: #fff;
  color: #000;
  border-color: transparent;
}

.theme-dark .button-tertiary-neutral {
  background: rgba(0, 0, 0, 0);
  color: #f5f5f7;
  border-color: #f5f5f7;
}

.theme-dark .button-tertiary-neutral:hover,
.theme-dark .button-tertiary-neutral:focus {
  background: #fff;
  color: #000;
  border-color: transparent;
}
