@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

#globalnav {
  background-color: #fafafc;
}

#globalnav-ul > li {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}

.headline {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.squares-section {
  display: flex;
  gap: 12px;

  width: 100%;
  height: 80vh;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-inline: 12px;
}

.swiper-slide {
  width: fit-content;
}

.flyout-open {
  position: absolute;
  z-index: 999;
  transform-origin: left top;
  background-color: #fafafc;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 44px;
}

.flyout-content {
  padding: 40px 22px 84px 22px;
}

.nav-list {
  margin: 0;
  list-style: none;
}

.submenu-header {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: rgb(110, 110, 115);
  display: block;
}

.nav-list-item {
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-inline-start: -11px;
  margin-inline-end: -11px;
}

.nav-list-item-smaller {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-inline-start: -11px;
  margin-inline-end: -11px;
}

.nav-submenu-link {
  display: inline-block;
  padding: 7px 11px;
  margin-bottom: -6px;
  color: #333336;
  text-decoration: none;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.globalnav-curtain {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
    visibility 0.32s step-end 80ms;
}

.globalnav-curtain-hidden {
  opacity: 0;
  visibility: hidden;
}
